.about {
  padding-top: 40px;
  margin-bottom: 55px;
  background-image: url(../img/bg-zigzag-line.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 15px;
}

.about__item {
  list-style: none;
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  margin-top: 83px;
  position: relative;

  &--before {
    position: absolute;
    width: 55px;
    top: -55px;
    left: -5px;
    fill: $main-color;
  }
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 60px;
    padding-top: 60px;
  }

  .about__header {
    font-size: $header-font-size-tablet;
    line-height: $header-line-height-tablet;
  }

  .about__list {
    max-width: $container-width-tablet;
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    flex-basis: 50%;
    font-size: 20px;
    line-height: 22px;
    margin-top: 103px;
    margin-bottom: 10px;

    &--style {
      order: 2;
    }

    &--like {
      order: 4;
    }

    &--knitted {
      order: 1;
    }

    &--patriot {
      order: 3;
    }

    &--present {
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-left: 170px;
    padding-top: 78px;
  }

  .about__header {
    font-size: $header-font-size-desktop;
    line-height: $header-line-height-desktop;
  }

  .about__list {
    max-width: 700px;
  }
}
