.about {
  margin-top: 60px;
  margin-bottom: 30px;
}

.about__item {
  list-style: none;
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  margin-top: 80px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    top: -50px;
    left: 0;
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--style::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--knitted::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--patriot::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present::before {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 60px;
  }

  .about__header {
    font-size: var(--header-font-size-tablet);
    line-height: var(--header-line-height-tablet);
  }

  .about__list {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    flex-basis: 50%;
    padding-right: 35px;
    font-size: 20px;
    line-height: 22px;

    &--style {
      order: 2;
    }

    &--like {
      order: 4;
    }

    &--knitted {
      order: 1;
    }

    &--patriot {
      order: 3;
    }

    &--present {
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-left: 180px;
  }

  .about__header {
    font-size: var(--header-font-size-desktop);
    line-height: var(--header-line-height-desktop);
  }

  .about__list {
    width: 700px;
  }
}
