.button {
  width: 100%;
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 2px solid #444;
  background-color: #fff;
}
