.cart-add {
  width: 100%;
  padding: 45px;
  text-align: center;

  &__header {
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__choose-size {
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.cart-add__size-btn {
  background-color: #ffffff;
  border: 2px solid #ececec;
  width: 82px;
  min-height: 54px;
  margin-bottom: 30px;
  font-weight: bolder;

  &:hover,
  &:focus {
    border: 2px solid #c7c7c7;
  }

  &:active {
    border: 2px solid var(--main-color);
  }

  &--small {
    border-color: var(--main-color);
  }
}

.cart-add__add-button {
  background-color: var(--main-color);
  border: none;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .cart-add {
    width: 568px;
    left: calc(50% - 284px);

    & .container {
      width: 360px;
    }

    &__header {
      font-size: 30px;
      line-height: 57px;
    }

    &__choose-size {
      font-size: 17px;
      line-height: 30px;
    }

    &__size-btn {
      width: 112px;
    }
  }
}
