.catalog__list {
  list-style: none;
}

.catalog__item--link {
  text-decoration: none;
 }

.catalog__item--header {
  font-size: 17px;
  line-height: 24px;
}

.catalog__desc {
  font-size: 13px;
  line-height: 30px;
  color: #444;
  font-weight: normal;
}

.catalog__price {
  color: #000;
}

@media (min-width: 768px) {
  .catalog__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    min-height: 334px;
    margin-bottom: 50px;
    align-content: flex-start;
    padding-left: 334px;
    border-bottom: 1px solid #efefef;

    &--header {
      font-size: 20px;
      line-height: 24px;
    }

    &--price {
      font-size: 17px;
      line-height: 24px;
    }
  }

  .catalog__item--link,
  .catalog__desc {
    width: 334px;
  }

  .catalog__img {
    position: absolute;
    left: 0;
  }
}

@media (min-width: 1150px) {

}
