.contacts .container {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .contacts__header {
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }

  .contacts__spec {
    width: 100%;

    & > tbody {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
    }

    & .spec-table__row {
      min-width: 50%;
    }

    & .spec-table__cell {
      border: none;
    }
  }

  .spec-table__cell--address {
    vertical-align: top;
  }

  .button--write-us {
    max-width: 231px;
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .contacts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: 0 auto;
    position: relative;

    & .container {
      max-width: 525px;
      padding-left: 175px;
    }
  }

  .map {
    max-width: 525px;
  }

  .contacts__spec > tbody {
    display: block;
  }

  .button--write-us {
    position: absolute;
    left: 175px;
    bottom: 0;
  }
}
