.featured__sub-header {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.featured__description {
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
}

.featured__price {
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
