.field-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.field-wrapper__checkbox,
.field-wrapper__radio {
  display: none;
}

.field-wrapper {
  font-size: 17px;
  line-height: 18px;

  &__input {
    padding-top: 10px;
    padding-bottom: 15px;
    border: 0;
    border-bottom: 2px solid black;
  }

  &__input::placeholder {
    opacity: 0.3;
  }

  &__input:hover,
  &__input:focus,
  &__input:active {
    border-color: var(--main-color);
  }

  &__input:active {
    color: #444;
  }
}

@media (min-width: 768px) {
  .field-wrapper,
  .form__additional--textarea {
    margin-left: 167px;
    font-size: 19px;
    line-height: 20px;
  }

  .label-color {
    min-width: 170px;
    margin-left: 70px;
  }

  .field-wrapper__input {
    min-width: 375px;
    padding-left: 20px;
  }

  .field-wrapper__input--name {
    width: 425px;
  }
}

@media (min-width: 1150px) {
  .field-wrapper__input {
    min-width: 590px;
    padding-left: 20px;
  }

  .field-wrapper__input--name {
    width: 640px;
  }
}
