.form {
  &__desc {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 25px;
  }

  &__fieldset {
    width: 260px;
    margin: 0 auto;
    border: none;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }

  &__legend {
    color: var(--main-color);
    display: block;
    position: relative;
  }

  &__legend::after {
    content: "";
    position: absolute;
    min-width: 210px;
    height: 1px;
    background-color: var(--main-color);
    top: 25%;
    margin-left: 25px;
  }

  &__name * {
    margin-top: 10px;
  }

  .form__icon {
    position: absolute;
    right: 0;
    opacity: 0.3;
    fill: black;

    &:hover,
    &:focus,
    &:active {
      fill: var(--main-color);
    }
  }

  &__additional {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &__additional--textarea {
    border: 2px solid black;
    min-height: 140px;
    max-height: 140px;
    min-width: 100%;
    max-width: 260px;
    padding: 10px;
    color: #dddddd;
  }

  &__additional--textarea:hover,
  &__additional--textarea:focus {
    border-color: var(--main-color);
  }

  &__additional--textarea:active {
    color: #444444;
  }

  &__necessary {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  &__submit {
    display: block;
  }

  &__submit--btn {
    margin-top: 30px;
    margin-bottom: 55px;
    font-weight: bold;
  }
}

.form__type--radio,
.form__color--checkbox {
  padding-left: 60px;
  padding-top: 25px;
  margin-bottom: 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    box-shadow: 0 0 0 2px black;
    left: 2px;
    top: 10px;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover::before,
  &:focus::before,
  &:hover::before,
  &:focus::before {
    box-shadow: 0 0 0 2px var(--main-color);
  }

  &:active::before,
  &:active::before {
    box-shadow: 0 0 0 2px #c7c7c7;
  }
}

.form__type--radio-first {
  margin-bottom: 10px;
}

.form__type--radio::before {
  border: 10px solid white;
  border-radius: 50%;
}

.field-wrapper__radio:checked + .form__type--radio::before {
  background-color: var(--main-color);
}

.field-wrapper__checkbox:checked + .form__color--checkbox::before {
  background-image: url("/img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: $tablet-width) {
  .form {
    &__desc {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 50px;
      margin-top: 60px;
    }

    &__fieldset--wrapper:nth-child(3),
    &__fieldset--wrapper:nth-child(5) {
      background-color: #f1f1f1;
    }

    &__fieldset {
      width: 668px;
      border: none;
      padding-top: 40px;
      padding-bottom: 40px
    }

    &__fieldset:nth-child(3),
    &__fieldset:nth-child(5),
    &__fieldset:nth-child(6) {
      background-color: #f1f1f1;
    }

    &__legend {
      position: absolute;
      font-size: 17px;
      top: 60px;
    }

    &__legend::after {
      display: none;
    }

    &__additional {
      width: calc(100% - 167px);
    }

    &__additional--textarea {
      width: 501px;
      padding: 18px;
    }

    &__color {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__type--radio,
    &__color--checkbox {
      padding-left: 80px;
      padding-top: 25px;
      margin-bottom: 25px;
    }

    &__type--radio::before,
    &__color--checkbox::before {
      width: 52px;
      height: 52px;
    }

    &__type--radio::before {
      border: 15px solid white;
    }

    &__color--checkbox {
      min-width: 250px;
    }

    &__tel input[type="tel"],
    &__email input[type="email"] {
      background-color: #f1f1f1;
    }

    &__tel::after,
    &__email::after {
      top: 10px;
    }

    &__submit {
      display: flex;
    }

    &__submit--btn {
      max-width: 230px;
      margin-right: auto;
    }

    &__necessary {
      order: 1;
      max-width: 300px;
      font-weight: normal;
      align-self: center;
      margin-top: 30px;
      margin-bottom: 55px;
    }
  }

  .form__fieldset .form__name {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;

    &--label {
      margin-right: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    &__fieldset {
      width: 1050px;
      padding-left: 65px;
      padding-right: 175px;
    }

    &__fieldset--color {
      padding-right: 0;
    }

    &__desc {
      padding-left: 167px;
      padding-right: 167px;
    }

    &__tel,
    &__email {
      width: 87%;
    }

    &__tel::after,
    &__email::after {
      right: 17%;
    }

    &__additional {
      width: calc(100% - 107px);
    }

    &__submit--btn {
      margin-left: 167px;
    }

    &__necessary {
      margin-right: 167px;
    }
  }
}
