.form__desc {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.form__fieldset {
  border: none;
  border-top: 1px solid var(--main-color);
}

.form__legend {
  color: var(--main-color);
  padding-right: 20px;
  padding-left: 20px;
  margin-left: -20px;
}

.form__type--radio,
.form__color--checkbox {
  padding-left: 60px;
  padding-top: 15px;
  margin-bottom: 15px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    box-shadow: 0 0 0 2px black;
    left: 0;
    top: 5px;
  }
}

.form__type--radio::before {
  border: 10px solid white;
  border-radius: 50%;
}

.field-wrapper__radio:checked + .form__type--radio::before {
  background-color: var(--main-color);
  background-size: 50% 50%;
}

.field-wrapper__checkbox:checked + .form__color--checkbox::before {
  background-image: url('/img/icon-tick.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@media (min-width: 768px) {
  .form {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .form__fieldset {
    border: none;
    position: relative;
    padding: 0;
    min-width: 100%;
  }

  .form__legend {
    position: absolute;
  }
}

@media (min-width: 1150px) {

}
