:root {
  --main-color: #63d1bb;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #444;
  font-weight: bold;
  background-color: #fefefe;
  min-width: 320px;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 260px;
  margin: 0 auto;
  display: flex;

  outline: 1px solid orange;
}

@media (min-width: 768px) {
  .container {
    width: 670px;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1050px;
  }
}

.map {
  width: 100%;
  min-height: 457px;
}
