:root {
  --main-color: #63d1bb;
  --main-bg-color: #f4f4f4;
  --header-font-size-tablet: 43px;
  --header-line-height-tablet: 50px;
  --header-font-size-desktop: 53px;
  --header-line-height-desktop: 57px;
  --main-margin-bottom-mobile: 38px;
  --min-width-tablet: 768px;
  --min-width-desktop: 1150px;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  font-weight: bold;
  background-color: #fefefe;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 260px;
  margin: 0 auto;
  display: flex;
}

.container--catalog {
  flex-direction: column;
}

.map {
  width: 100%;
  min-height: 457px;
}

.academy-link {
  font-size: 0;
  width: 30px;
  height: 40px;
  display: inline-block;
  margin-left: 30px;

  &--icon {
    width: 30px;
    height: 40px;
    fill: var(--main-color);
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 668px;
  }

  .logo {
    width: 115px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1050px;
  }

  .logo {
    width: 155px;
    height: 80px;

  }
}
