html {
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url ("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url ("../fonts/opensansbold.woff") format("woff");
}

body {
  font-family: "Open sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  font-weight: bold;
  background-color: #fefefe;
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.academy-link {
  font-size: 0;
  width: 30px;
  height: 40px;
  display: inline-block;
  margin-left: 30px;
}

.academy-link--icon {
  width: 30px;
  height: 40px;
  fill: $main-color;
}
