.main-nav__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  max-width: 260px;
  margin: 0 auto;
  /*justify-content: space-between;*/
}

.main-nav__item--logo {
  outline: 1px solid red;
  margin: 0 auto;
}

.main-nav__item--menu-toggle {
  align-self: center;
}

.main-nav__item {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.main-nav__drop-down .main-nav__item {
  width: 100%;
  border-top: 1px solid #ddd;
}

.free-shipping {
  font-weight: normal;
}

.main-nav__content {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  line-height: 24px;
}

.main-nav__drop-down {
  display: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .main-nav__list {
    max-width: 668px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .main-nav__drop-down {
    display: flex;
  }
}

@media (min-width: 1150px) {
  .main-nav__list {

  }

  .free-shipping {

  }
}
