.main-nav__list {
  max-width: 260px;
  margin: 0 auto;
}

.main-nav__item--logo {
  margin: 0 auto;
}

.main-nav__item--menu-toggle {
  align-self: center;
}

.main-nav__item {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.main-nav__item--drop-down .main-nav__item {
  width: 100%;
  border-top: 1px solid #ddd;
}

.free-shipping {
  font-weight: normal;
}

.main-nav__content {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  line-height: 24px;
  display: block;
}

.main-nav__item--drop-down,
.main-nav__item--new,
.main-nav__item--sale,
.main-nav__item--free-shipping {
  display: block;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .main-nav__list {
    max-width: 668px;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .main-nav__drop-down {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    top: -30px;
  }

  .main-nav__content--tablet {
    font-size: 15px;
  }

  .main-nav__item {
    align-self: center;

    &--logo {
      margin: 0;
      width: 300px;
      text-align: left;
    }

    &--free-shipping {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
    }

    &--search {
      width: 83px;
      margin-left: auto;
    }

    &--cart {
      padding-left: 80px;
    }

    &--catalog,
    &--form {
      order: 1;
      width: 167px;
    }

    &--free-shipping {
      order: 1;
      margin-left: auto;
    }
  }

  .main-nav__drop-down .main-nav__item {
    border: 0;
  }
}

@media (min-width: 1150px) {
  .main-nav__list {
    max-width: 1050px;
  }

  .main-nav__content--tablet {
    font-size: 17px;
  }

  .main-nav__content--desktop {
    font-size: 15px;
  }

  .main-nav__item {
    align-self: center;

    &--logo {
      text-align: center;
    }

    &--catalog,
    &--form {
      order: -1;
    }

    &--form {
      margin-left: 50px;
    }

    &--new,
    &--sale {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      min-width: 218px;
    }
  }
}
