.map {
  margin-top: 30px;
  border: none;
}

@media (min-width: $tablet-width) {
  .map {
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    max-width: 525px;
    margin-top: 0;
    position: absolute;
    right: calc(50% - 525px);
  }
}
