.modal {
  position: fixed;
  z-index: 11;
  top: 50%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0px 10px 15px 0px #eee;

  & .container {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__overlay {
    z-index: 10;
  }
}
