.page-header .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.index-header--wrapper {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 575px 373px;
  background-position: 50% -10%;
  background-repeat: no-repeat;
  border-top: 1px solid #dddddd;
}

.index-header {
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 285px;
  width: 270px;
  margin: 0 auto;
}

.page-header__content--bg-wrapper {
  width: 100%;
  background-color: var(--main-color);

  & a {
    text-decoration: none;
  }
}

.page-header__content--bg-wrapper:last-child {
  background-color: #56c3b2;
}

.page-header__content--interior,
.page-header__content--toy {
  color: #ffffff;
  width: 40%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 19px;
  line-height: 24px;
}

.page-header__content--bg-wrapper .container {
  position: relative;
  width: 260px;
  margin: 0 auto;
  min-height: 105px;
}

.page-header__content--interior::after,
.page-header__content--toy::after {
  content: "";
  position: absolute;
  width: 85px;
  height: 75px;
  top: 20px;
  right: -20px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.page-header__content--toy::after {
  background-image: url("../img/icon-toy.svg");
  right: -10px;
}

@media (min-resolution: $retina-dppx),
        (min-resolution: $retina-dpi) {
  .index-header--wrapper {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
  }

  .index-header {
    width: 530px;
    font-size: var(--header-font-size-tablet);
    line-height: var(--header-line-height-tablet);

    /*&--wrapper {
      display: flex;
      flex-direction: column;
      min-height: 746px;
      margin-top: 90px;
      padding-top: 60px;
      background: ("../img/hero-tablet@1x.jpg");
      background-size: 1150px 746px;
    }*/
  }

  .index-header--wrapper {
    display: flex;
    flex-direction: column;
    min-height: 746px;
    margin-top: 90px;
    padding-top: 60px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
  }

  .page-header__content--wrapper {
    display: flex;
    width: 668px;
    align-self: center;
    margin-top: auto;
  }

  .page-header__content--bg-wrapper .container {
    width: 334px;
    min-height: 120px;
    padding-left: 35px;
  }

  .page-header__content--interior,
  .page-header__content--toy {
    font-size: 20px;
    line-height: 30px;
    width: 120px;

    &::after {
      right: -15px;
    }
  }

  .page-header__content--toy::after {
    right: -5px;
  }

  @media (min-resolution: $retina-dppx),
          (min-resolution: $retina-dpi) {
    .index-header--wrapper {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .index-header {
    width: 700px;
    font-size: var(--header-font-size-desktop);
    line-height: var(--header-line-height-desktop);

    /*&--wrapper {
      background: ("../img/hero-desktop@1x.jpg");
    }*/
  }

  .index-header--wrapper {
    background-image: url("../img/hero-desktop@1x.jpg");
  }

  .page-header__content--wrapper {
    width: 1050px;
  }

  .page-header__content--bg-wrapper .container {
    width: 525px;
  }

  @media (min-resolution: $retina-dppx),
          (min-resolution: $retina-dpi) {
    .index-header--wrapper {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}
