.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $main-bg-color;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    display: none;
  }

  &__copyright {
    display: flex;
    padding-top: 20px;
  }

  &__logo:hover,
  &__logo:focus,
  &__logo:active {
    fill: $main-color-hover;
  }

  &__logo:active,
  &__copyright:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 50px;

    & .container {
      flex-direction: row;
    }

    &__logo {
      display: block;
      width: 105px;
      height: 40px;
      margin-right: 155px;
    }

    &__copyright {
      margin-left: auto;
      padding-top: 0;
    }
  }

  .page-footer__copyright:hover .academy-link--icon,
  .page-footer__copyright:focus .academy-link--icon,
  .page-footer__copyright:active .academy-link--icon {
    fill: $main-color-hover;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 55px;
    padding-bottom: 55px;

    & .container {
      justify-content: space-between;
      flex-direction: row;
    }

    &__logo {
      margin-right: 345px;
    }

    &__copyright {
      padding-top: 10px;
    }
  }
}
