.page-header {
  background-color: #f9f9f9;

  & .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.page-header__content--wrapper {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-size: 565px 373px;
  background-position: 50% -10%;
  background-repeat: no-repeat;
}

.page-header__heading {
  display: flex;
  text-align: center;
  /*align-items: center;*/
  min-height: 280px;
  width: 270px;
  margin: 0 auto;
  padding-top: 70px;
}

.page-header__content--bg-wrapper {
  width: 100%;
  background-color: $main-color;

  & a {
    text-decoration: none;
  }

  &:active .container {
    opacity: 0.3;
  }
}

.page-header__content--bg-wrapper:last-child {
  background-color: #56c3b2;
}

.page-header__content--interior,
.page-header__content--toy {
  color: #ffffff;
  width: 40%;
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 19px;
  line-height: 24px;
}

.page-header__content--bg-wrapper .container {
  position: relative;
  width: 260px;
  margin: 0 auto;
  min-height: 105px;
}

.page-header__content--interior::after,
.page-header__content--toy::after {
  content: "";
  position: absolute;
  width: 85px;
  height: 75px;
  top: 20px;
  right: -20px;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.page-header__content--toy::after {
  background-image: url("../img/icon-toy.svg");
  right: -10px;
}

@media (min-resolution: $retina-dppx),
  (min-resolution: $retina-dpi) {
  .page-header__content--wrapper {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 30px;
      background-repeat: repeat-x;
      z-index: 1;
    }
  }

  .page-header__heading {
    width: 668px;
    margin: 0;
    margin-bottom: auto;
    font-size: $header-font-size-tablet;
    line-height: $header-line-height-tablet;
  }

  .page-header__content--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 746px;
    padding-top: 60px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1150px 746px;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .page-header__content--bg-wrapper {
    background-size: 285% 240%;
    background-repeat: no-repeat;
    background-position: 0 -25px;
    height: 120px;
    width: 334px;
    align-self: flex-end;

    & .container {
      width: 334px;
      min-height: 120px;
      padding-left: 35px;
    }

    &:nth-child(2) {
      margin-left: calc(50% - 334px);
    }

    &:nth-child(3) {
      margin-right: calc(50% - 334px);
    }
  }

  .page-header__content--bg-wrapper:hover,
  .page-header__content--bg-wrapper:focus {
    min-height: 125px;

    & .container {
      padding-top: 5px;
    }
  }

  .page-header__content--interior,
  .page-header__content--toy {
    font-size: 20px;
    line-height: 30px;
    width: 120px;

    &::after {
      right: -15px;
    }
  }

  .page-header__content--toy::after {
    right: -5px;
  }

  @media (min-resolution: $retina-dppx),
    (min-resolution: $retina-dpi) {
    .page-header__content--wrapper {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__heading {
    width: 700px;
    font-size: $header-font-size-desktop;
    line-height: $header-line-height-desktop;
  }

  .page-header__content--wrapper {
    width: 1050px;
    margin: 0 auto;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1150px 746px;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .page-header__content--wrapper {
    width: 1050px;
  }

  .page-header__content--bg-wrapper {
    width: 525px;

    &:nth-child(2) {
      margin-left: calc(50% - 525px);
    }

    &:nth-child(3) {
      margin-right: calc(50% - 525px);
    }
  }

  .page-header__content--bg-wrapper .container {
    width: 525px;
  }

  @media (min-resolution: $retina-dppx),
    (min-resolution: $retina-dpi) {
    .page-header__content--wrapper {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }
}
