.reviews {
  margin-bottom: 20px;

  &__header {
    margin-bottom: 25px;
  }

  &__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 25px;
  }

  &__author--details {
    font-size: 17px;
    line-height: 30px;
  }

  &__author--email {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
  }

  &__controls {
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 35px;
  }

  &__btn {
    width: 50%;
    font-size: 0;
    background-image: url("/img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 50px;
    border: 1px solid #ececec;
    background-color: #ffffff;
    cursor: pointer;
  }

  &__btn:hover,
  &__btn:focus {
    opacity: 0.6;
    outline: none;
  }

  &__btn:active {
    opacity: 0.3;
  }

  &__btn--prev {
    border-left: 0;
    transform: rotate(180deg);
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
    max-width: $container-width-tablet;

    &::before {
      content: "";
      position: absolute;
      width: 350px;
      height: 457px;
      z-index: -1;
      top: 0;
      left: -37px;
      background-image: url("/img/review@1x.jpg");
      background-repeat: no-repeat;
    }

    &__header {
      font-size: $header-font-size-tablet;
      line-height: $header-line-height-tablet;
      order: -1;
    }

    &__btn-write {
      order: 0;
      max-width: 175px;
      margin-bottom: 60px;
      font-size: 17px;
      line-height: 20px;
    }

    &__text {
      order: 1;
      margin-bottom: 60px;
      font-size: 17px;
    }

    &__author--wrapper {
      order: 2;
    }

    &__controls {
      order: 3;
      max-width: 167px;
    }

    &__btn {
      border: none;
    }

    &__btn--wrapper {
      border: 0;
    }
  }

  @media (min-resolution: $retina-dppx),
    (min-resolution: $retina-dpi) {
    .reviews::before {
      background-image: url("../img/review@2x.jpg");
      background-size: 100% 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-left: 175px;
    max-width: $container-width-desktop;

    &::before {
      left: 0;
    }

    &__header {
      font-size: $header-font-size-desktop;
      line-height: $header-line-height-desktop;
    }
  }
}
