.reviews {
  margin-bottom: var(--main-margin-bottom-mobile);

  &__header {
    margin-bottom: 30px;
  }

  &__text {
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: var(--main-margin-bottom-mobile);
  }

  &__author {
    font-size: 17px;
    line-height: 30px;
  }

  &__author-email {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
  }

  &__controls {
    width: 100%;
    display: flex;
    margin-top: var(--main-margin-bottom-mobile);
    margin-bottom: var(--main-margin-bottom-mobile);
  }

  &__btn {
    width: 50%;
    background-image: url('/img/icon-right-arrow.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 50px;
    border: 1px solid #ececec;
    background-color: #fff;
    cursor: pointer;
  }

  &__btn:hover,
  &__btn:focus {
    opacity: 0.6;
    outline: none;
  }

  &__btn:active {
    opacity: 0.3;
  }

  &__btn--prev {
    border-left: 0;
    transform: rotate(180deg);
  }

  &__btn {
    font-size: 0;
  }
}

@media (min-width: 768px) {
  .reviews {
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 350px;
      height: 457px;
      z-index: -1;
      top: 0;
      left: -37px;
      background-image: url('/img/review@1x.jpg');
      background-repeat: no-repeat;
    }

    &__header {
      font-size: var(--header-font-size-tablet);
      line-height: var(--header-line-height-tablet);
    }

    &__btn-write {
      order: 0;
      max-width: 175px;
      margin-bottom: 60px;
      font-size: 17px;
      line-height: 20px;
    }

    &__text {
      order: 1;
      margin-bottom: 60px;
      font-size: 17px;
    }

    &__author--details {
      order: 2;
    }

    &__controls {
      order: 3;
      max-width: 167px;
    }

    &__btn {
      border: none;
    }

    &__btn--wrapper {
      border: 0;
    }
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding-left: 175px;

    &::before {
      left: 0;
    }

    &__header {
      font-size: var(--header-font-size-desktop);
      line-height: var(--header-line-height-desktop);
    }
  }
}
