.social {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;
}

.social__item {
  font-size: 0;
}

.social__item--icon {
  width: 25px;
  height: 25px;
  fill: #231f20;

  &:hover,
  &:focus,
  &:active {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item--fb {
  height: 30px;
}

@media (min-width: $tablet-width) {
  .social {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding-top: 10px;
  }
}
