.social {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 20px;
  border-bottom: 1px solid #ececec;

  &__item {
    font-size: 0;
  }

  &__item--icon {
    width: 25px;
    height: 25px;
    fill: #231f20;
  }

  &__item--fb {
    height: 30px;
  }

  &__item--icon:hover,
  &__item--icon:focus,
  &__item--icon:active {
    fill: $main-color;
  }

  &__item--icon:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .social {
    padding-top: 10px;
  }
}
