.video {
  position: relative;
  border: 1px solid #ececec;
  overflow: hidden;
  margin-bottom: 60px;

  &__header {
    font-size: 17px;
    line-height: 24px;
    padding-left: 60px;
    background-image: url('/img/icon-video.svg');
    background-repeat: no-repeat;
    background-position: 15px 50%;
    margin-bottom: 20px;
  }

  &__play {
    position: absolute;
    left: calc(50% - 52px);
    top: 105px;
    min-height: 80px;
    min-width: 105px;
    background-image: url('/img/icon-play.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0;
    background-color: transparent;
    font-size: 0;
  }

  &__file {
    margin-bottom: 30px;
  }

  &__desc {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    margin-left: 35px;
    width: 190px;
    margin-bottom: 20px;
  }

  &__order {
    width: 190px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .video {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin-bottom: 65px;

    &__file {
      order: -1;
      width: 100%;
      min-height: 455px;
      margin-bottom: 30px;
    }

    &__play {
      top: 215px;
    }

    &__header {
      font-size: 20px;
      line-height: 24px;
      margin-left: 90px;
    }

    &__desc {
      font-size: 15px;
      line-height: 30px;
      width: 580px;
      margin: 0 auto;
    }

    &__order {
      width: 580px;
      margin: 40px auto;
    }
  }
}

@media (min-width: 1150px) {
  .video {
    min-height: 455px;
    padding-left: 680px;
    margin-bottom: 100px;

    &__file {
      max-width: 680px;
      max-height: 455px;
      position: absolute;
      left: 0;
    }

    &__play {
      left: 30%;
    }

    &__header {
      width: 180px;
      margin-top: 80px;
      max-height: 70px;
      margin-bottom: 30px;
    }

    &__desc,
    &__order {
      width: 230px;
      margin: 0;
      margin-left: 90px;
      margin-bottom: 30px;
    }
  }
}
