.header {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.header--h1 {
  font-size: 29px;
}

.header--h3 {
  font-size: 18px;
}

.catalog-header {
  display: flex;
  height: 175px;
  justify-content: center;
  align-items: center;
}
