.page-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $main-bg-color;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  display: flex;
  padding-top: 20px;
}

.page-footer__logo:hover,
.page-footer__logo:focus,
.page-footer__logo:active {
  fill: $main-color-hover;
}

.page-footer__logo:active,
.page-footer__copyright:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer .container {
    flex-direction: row;
  }

  .page-footer__logo {
    display: block;
    width: 105px;
    height: 40px;
    margin-right: 155px;
  }

  .page-footer__copyright {
    margin-left: auto;
    padding-top: 0;
  }

  .page-footer__copyright:hover .academy-link--icon,
  .page-footer__copyright:focus .academy-link--icon,
  .page-footer__copyright:active .academy-link--icon {
    fill: $main-color-hover;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 45px;
    padding-bottom: 55px;
  }

  .page-footer .container {
    justify-content: space-between;
    flex-direction: row;
  }

  .page-footer__logo {
    margin-right: 345px;
  }

  .page-footer__copyright {
    padding-top: 10px;
  }
}
